// * {
//   background-color: #666666;
// }

// input {
//   background-color: #ffffff;
// }

.navbar {
  background-color: #333;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -1%;
  margin-left: -1%;
  margin-right: -0.5%;
  height: 25px;

  .navbar-brand {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
  }

  // .navbar-nav {
  //   list-style: none;
  //   display: flex;

  //   .nav-item {
  //     margin-left: 10px;

  //     .nav-link {
  //       color: #fff;
  //       text-decoration: none;

  //       &:hover {
  //         color: #aaa;
  //       }
  //     }
  //   }
  // }
}

// Adicionando tema dark da página
// body {
//   background-color: #666666;
// }

// body h1{
//   color: #ffffff;
// }

// .dark-header th {
//   background-color: #555555;
//   color: #ffffff;
// }

// .dark-body td {
//   background-color: #777777;
//   color: #ffffff;
// }
// Fim das declarações do tema dark

.titulo {
  height: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.p-button-rounded{
  max-height: 1px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.copy {
  font-size: 14px;
}


